@model ChangePasswordModel
@using System.Security.Claims;

@{
    Layout = "~/views/shared/_Layout.cshtml";
}



<div class="col-md-6 ">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">change user Password</h4>

            <form class="forms-sample" asp-action="ChangePassword" asp-controller="UserProfile" method="post">

                @if (User.Identity.IsAuthenticated)
                {

                    <div class="form-group">
                        <input asp-for="UserId" type="hidden" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)" class="form-control" id="exampleInputUsername1" placeholder="Userid">
                    </div>
                }
                <div class="form-group">
                    <label for="exampleInputUsername1">Current password</label>
                    <input asp-for="CurrentPassword" type="password" class="form-control" id="exampleInputUsername" placeholder="current password">
                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">New Password</label>
                    <input asp-for="NewPassword" type="password" class="form-control" id="exampleInputUsername" placeholder="New password">
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Confirm Password</label>
                    <input asp-for="ConfirmNewPassword" type="password" class="form-control" id="exampleInputUsername" placeholder="confirm Password">
                    <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                </div>


                <button type="submit" class="btn btn-primary me-2">Submit</button>

            </form>
        </div>
    </div>
</div>